/02-Bases/node_modules/
/02-Bases/dist
/02-Bases/coverage

/03-Typescript/node_modules/
/03-Typescript/dist

/04-multiplication/node_modules/
/04-multiplication/dist
/04-multiplication/coverage

/05-NOC/node_modules/
/05-NOC/logs
/05-NOC/dist
/05-NOC/.env
/05-NOC/mongo
/05-NOC/postgres


/06-Json-Server/node_modules/
/06-Json-Server/dist

*.log

.DS_Store